body{
  font-family: Arial, sans-serif;
  background: #fcfcfc;
  margin: 0;
  padding: 20px;
}

h1{
  margin-bottom: 15px;
}

textarea{
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

button{
  padding: 10px 14px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 6px;
  color: #88edaf;
}

button:hover{
  opacity: 0.9;
  color: #da2d2d;
}

form{
  margin-bottom: 10px;
}

hr{
  border: 0;
  border-top: 1px solid #fff0f0;
  margin: 20px 0;
}